__pycache__
enviroment.py
chroma
xamples
.env
dist
.venv
dataset
.deepeval
.deepeval-cache.json
bin
.DS_Store
*.sql
*.log
*.yaml
examples/local/*
.logs
scratch_pad.py
.*
*.png
*.html
usecases/
compare_gemini_outputs_v1.py
node_modules/
